<div class="container appointment-container shadow-lg">
    <div class="container py-5 px-4">
        <h1>Book Appointment</h1>
        <span class="small">Please select a service where you want to book an appointment.</span>

        <div class="container d-flex flex-column gap-3 mt-4">
            <div class="border services" *ngFor="let category of categories" (click)="onSelect(category)">
                <div class="d-flex flex-column me-2">
                    <span class="big">{{ category.service }}</span>
                    <span class="small">{{ category.description }}</span>
                </div>
                <div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
