<div class="container py-5 d-flex justify-content-center gap-3 align-items-center header" (click)="goHome()">
    <div class="logo">
        <img class="logo-image" src="https://res.cloudinary.com/delgya5vj/image/upload/v1688177312/practical-exam/Angular/Business_Logo_ezweex.png" alt="logo">
    </div>
    <div class="logo-name">
        <span class="big">{{ title }}</span>
        <span class="fw-semibold">{{ address }}</span>
    </div>
</div>

<div class="container-fluid align-items-center">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <img class="footer-image" src="https://res.cloudinary.com/delgya5vj/image/upload/v1688177670/practical-exam/Angular/Kyoo_Logo_1_kvcz2c.png" alt="kyoo">
</div>