<div class="container appointment-container shadow-lg">
    <div class="back container pt-5 px-4 text-start" (click)="goBack()">
        <div class="d-flex gap-2">
            <i class="bi bi-arrow-left"></i> <span class="fw-bold">Back</span>
        </div>
    </div>
    <div class="container py-5 px-4">
        <div class="container d-flex flex-column align-items-start">
            <span class="small">{{ _dataService.service }}</span>
            <h1>{{ _dataService.selectedService }}</h1>
        </div>
        <div class="d-flex flex-column">
            <div class="container d-flex mt-4 justify-content-between">
                <span class="small">SELECT DATE</span>
                <span class="action" (click)="openCalendar(content)">Open Calendar</span>
            </div>
            <div class="container mt-3">
                <div class="container-fluid">
                    <div class="slider-wrap">
                        <div class="d-flex gap-2 slider-main">
                            <div 
                                    class="container d-flex flex-column item date-box" 
                                    *ngFor="let date of dates"
                                    [ngClass]="{'weekend' : isWeekend(date)}"
                                    (click)="selectDate(date)"
                                    [class.selected]="isDateSelected(date)"
                                >
                                    <span>{{ date.month }}</span>
                                    <span class="big" [class.today]="isCurrentDay(date)">{{ date.date }}</span>
                                    <span>{{ isCurrentDay(date) ? 'Today' : isNextDay(date) ? 'Tomorrow' : date.day }}</span>
                                </div>
                        </div>
                        <div class="next-date shadow-lg">
                            <span class="next" appNextDate><i class="bi bi-chevron-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="container">
                    <span class="small">SELECT TIMESLOT</span>
                </div>
                <div class="container mt-3 d-flex flex-column gap-5">
                    <div class="loading" *ngIf="isLoading">
                        <img src="https://res.cloudinary.com/delgya5vj/image/upload/v1688276609/practical-exam/Angular/Timeslots_kdmzrz.png" alt="Timeslots">
                    </div>
                    <div *ngIf="!isLoading">
                        <div>
                            <div class="d-flex gap-2">
                                <i class="bi bi-cloud-sun"></i><span class="fw-bold">Morning</span>
                            </div>
                            <div class="d-flex flex-wrap gap-3 text-center mt-3">
                                <div class="timeslots" *ngFor="let time of morningTimeslots" (click)="selectTimeslot(time)" [class.selected]="isTimeSelected(time)">
                                    <p>{{ formatTime(time.hmsFormat.hours) }}:{{ time.hmsFormat.minutes | number: '2.0-0' }} {{ getAMPM(time.hmsFormat.hours) }}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex gap-2 mt-4">
                                <i class="bi bi-sun"></i><span class="fw-bold">Afternoon</span>
                            </div>
                            <div class="d-flex flex-wrap gap-3 text-center mt-3">
                                <div class="timeslots" *ngFor="let time of sortTimeslots(afternoonTimeslots)" (click)="selectTimeslot(time)" [class.selected]="isTimeSelected(time)">
                                    <p>{{ formatTime(time.hmsFormat.hours) }}:{{ time.hmsFormat.minutes | number: '2.0-0' }} {{ getAMPM(time.hmsFormat.hours) }}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex gap-2 mt-4">
                                <i class="bi bi-cloud-moon"></i><span class="fw-bold">Evening</span>
                            </div>
                            <div class="d-flex flex-wrap gap-3 text-center mt-3">
                                <div class="timeslots" *ngFor="let time of eveningTimeslots" (click)="selectTimeslot(time)" [class.selected]="isTimeSelected(time)">
                                    <p>{{ formatTime(time.hmsFormat.hours) }}:{{ time.hmsFormat.minutes | number: '2.0-0' }} {{ getAMPM(time.hmsFormat.hours) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <button class="button" [disabled]="!isDateTimeSelected()" (click)="detailsForm()" [class.enable]="isDateTimeSelected()">
                    {{ isDateTimeSelected() ? 'Proceed' : 'Select date and time to proceed' }}
                </button>
            </div>
        </div>
    </div>

    <!-- Calendar Modal -->
    <ng-template #content let-modal>
        <div class="modal-header d-flex text-center">
            <h3 class="modal-title small">SELECT CUSTOM DATE</h3>
            <span class="btn-close small text-sm" aria-label="Close" (click)="modal.dismiss('Cross click')"></span>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="calendar">
                            <div class="calendar-header d-flex justify-content-between text-center py-3">
                                <span (click)="prevMonth()"><i class="bi bi-chevron-left"></i></span>
                                <h3 class="big">{{ calendar[currentMonth].month }} {{ calendar[currentMonth].year }}</h3>
                                <span (click)="nextMonth()"><i class="bi bi-chevron-right"></i></span>
                            </div>
                            <div class="calendar-grid" autofocus>
                                <div class="weekday col" *ngFor="let day of sortDays(calendar[currentMonth].dates[0].day)">{{ day }}</div>
                                <ng-container *ngFor="let empty of getEmptyCells(calendar[currentMonth].dates[0].day)">
                                    <div class="date-cell empty"></div>
                                </ng-container>
                                <button 
                                    *ngFor="let date of calendar[currentMonth].dates"
                                    class="date-cell"
                                    [disabled]="isDateDisabled(date)"
                                    (click)="selectDate(date)" 
                                    [class.selected]="isDateSelected(date)" 
                                    [class.today]="isToday(date)"
                                >
                                    {{ date.date }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" autofocus>
            <button type="button" class="btn" (click)="modal.dismiss('Cross click')">Confirm</button>
        </div>
    </ng-template>
</div>


